h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
ul li{
  list-style-type: none;
}
.bbl-wrap {
  position: relative;

}
.bbl-right-col{
  width: 20%;
  height: 600px;
  border: solid 1px #9aa5a5;
}
.bbl-left-col {
  position: absolute;
  left: 20%;
  top:0;
  right: 0;
  bottom: 0;
  border: solid 1px #9aa5a5;
}
.bbl-list-btn {
  display: block;
  margin: 20px 30px;
  padding: 5px;
  border-radius: 10%;
  text-align: center;
}
.bbl-list-title {
  height: 40px;
  text-align: center;
  margin:auto 0;
  border-bottom: dotted 1px #9aa5a5;
}
.bbl-blank-row {
  position: relative;
  height: 80px;
  width: 80%;
  margin: 5px auto;
  border: dotted 2px #c65112;
  border-radius: 5% 5%;
}
.bbl-add-btn {
  position: absolute;
  top: 0;
  left: -20px;
  width: 20px;
  height: 35%;
  background-color: #336699;
}
.bbl-height-btn {
  position: absolute;
  left: -20px;
  bottom: 0;
  width: 20px;
  height: 40%;
  border-radius: 3px 4px;
  background-color: #336699;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
.bbl-del-row {
  position: absolute;
  width: 25px;
  height: 25px;
  right: -10px;
  top: -10px;
  border-radius: 50%;
  background-color: #336699;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
